.quote-form,
.quote-section {
    padding: 20px;
}

#quote-list ul {
    list-style-type: none;
    list-style-image: none;
}

#quote-list li {
    float: left;
    margin: 10px;
    padding: 10px;
    max-width: 300px;
}

#quote-list .glyphicon-trash{
    color: red;
}

#quote-list .glyphicon-star{
   filter: drop-shadow(0px 0px 1px #222);
   font-size: 115%;
   color: white;
}
#quote-list .yellow{
    color: #f7f308;
}

div .footer {
    background-color: #474a50;
    border-top: 4px solid #777;
    padding: 20px;
    color: white;
}